* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #141414;
    overflow: hidden;
}

.container {
    height: 4rem;
    width: 100%;
    display: flex;
}

.container .logo {
    height: 100%;
    width: 10rem;
    margin-right: 3rem;
    margin-left: 1.5rem;
}

.container .logo img {
    width: 100%;
    height: 100%;
}

.container .menu {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.container .menu .menu-left {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.container .menu .menu-left li {
    display: inline-block;
    text-align: center;
    padding: .5rem;
    cursor: pointer;
}

.container .menu .menu-left li a {
    color: #fff;
    transition: 0.5s;
}

.container .menu .menu-left li:hover a {
    color: rgb(211, 211, 211);
    text-decoration: underline;
}

.container .menu .menu-right {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.container .menu .menu-right li {
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: .5rem;
    cursor: pointer;
}

.container .menu .menu-right .user {
    height: 100%;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}

.container .menu .menu-right .user img {
    width: 70%;
    height: 70%;
    border-radius: 2px;
    margin-right: 1rem;
    cursor: pointer;
}

.container .menu .menu-right .user li {
    cursor: pointer;
}

main .main-movie {
    height: 22rem;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)100%), url('/assets/main-movie.jpg');
    background-size: cover;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 4rem 0 4rem;
}

main .main-movie .description {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
    margin-bottom: 4rem;
}

main .main-movie .description .type {
    height: 4rem;
    width: 8rem;
    display: flex;
    align-items: center;
}

main .main-movie .description .type img {
    height: 2rem;
    margin: 1rem;
}

main .main-movie .description .title {
    padding-bottom: 1rem;
    font-size: 50px;
}

main .main-movie .description .btns {
    margin-top: 1rem;
}

main .main-movie .description .btns button {
    padding: 1rem 2rem 1rem 2rem;
    border: none;
    box-shadow: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    margin-right: 1rem;
}

main .main-movie .description .btns button i {
    padding-right: .5rem;
}

main .main-movie .description .btns .play {
    background: #efefef;
    transition: .5s;
}

main .main-movie .description .btns .play:hover {
    background: #5e5e5e;
    color: #fff;
}

main .main-movie .description .btns .info {
    background: #5e5e5e;
    color: #fff;
    transition: .5s;
}

main .main-movie .description .btns .info:hover {
    background: #424242;
}

.arrow-left {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: fixed;
    font-size: 30px;
    opacity: .5;
    background: #5e5e5e;
    transition: .5s;
}

.arrow-right {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: fixed;
    right: 1rem;
    font-size: 30px;
    opacity: .5;
    background: #5e5e5e;
    transition: .5s;
}

.arrow-left:hover {
    opacity: .8;
}

.arrow-right:hover {
    opacity: .8;
}

section .movies {
    width: 95%;
    height: 200px;
    margin-left: 2rem;
    color: #fff;
    display: flex;
    flex-direction: column;
}

section .movies .title {
    font-size: 12px;
    margin-bottom: .3rem;
}

section .movies .carrousel {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

section .movies .carrousel .card {
    height: 70%;
    width: 14rem;
    display: flex;
    flex-direction: column;
    margin-right:0.5rem ;
    position: relative;
    border-radius: 5px;
    transition: .4s;
    z-index: 1;
    background:#181818;  
}

section .movies .carrousel .card:hover  {
    transform: scale(1.5) translateY(-100px);
    height: 230px;
    
}
section .movies .carrousel .card:hover  .title{
    top: 100px;
}
section .movies .carrousel .card .img {
    width: 100%;
    /* height: 100%; */
    border-radius: 5px;
}

section .movies .carrousel .card .img img {
    width: 14rem;
    object-fit: fill;
    border-radius: 5px;
}

section .movies .carrousel .card .img .title {
    /* position: absolute; */
    left: 10px;
    font-size: 18px;
    margin-left: 5px;
    /* background: #181818; */
}

section .movies .carrousel .card .content {
    display: none;
    flex-direction: column;
    transition: all .5s ease-in-out;
    margin-top: 10px;
    /* background: #181818; */
}
section .movies .carrousel .card:hover .content{
    display: flex;
    transition: all .5s ease-in-out;
}
section .movies .carrousel .card .content .options{
    display: flex;
    align-items: center;
    position: relative;
}
section .movies .carrousel .card .content .options div{
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center; 
    border: 2px solid #fff;
    font-size: 15px;
    margin: 0 5px 0 5px;
    /* padding: auto; */
    border-radius: 50%;
    
}
section .movies .carrousel .card .content .options div:last-child{
    position: absolute;
    right: 0;
}

section .movies .carrousel .card .content .options a{
    color: #fff;
}
section .movies .carrousel .card .content .info{
    font-size: 12px;
    margin: 10px 0 0 5px;
}
section .movies .carrousel .card .content .info .green{
    color: green;
}
section .movies .carrousel .card .content .info .faixa{
    border: 1px solid #efefef;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
    text-align: center;
    background: rgb(226, 82, 25);
}
section {
    position: relative;
    width: 100%;
    height: 300px;
}

section div.arrow-left {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 4rem;
    background: transparent;
    color: #fff;
    font-size: 20px;
    opacity: .5;
    transition: .5s;
    visibility: hidden;
}

section div.arrow-right {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 4rem;
    background: transparent;
    color: #fff;
    font-size: 20px;
    opacity: .5;
    transition: .5s;
    visibility: hidden;
}